* {
  margin: 0;
  padding: 0;
}

/* google font */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared btn */
.btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 12.5px 16px;
  background-color: #30B868;
}



/* Navbar design */
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 24px;
  width: 71%;
  max-width: 1584px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin: 16px;
}

nav ul a {
  text-decoration: none;
  color: black;
}

#hero {
  height: 674px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1584px;
  box-sizing: border-box;
}

#hero .hero-container {
  max-width: 1360px;
  padding: 0 120px;
  text-align: center;
  margin: 0 auto;
}

.status-icon {
  width: 8px;
  height: 8px;
  background-color: #30B868;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(46, 125, 78, 0.25),
    0 0 0 8px rgba(46, 125, 78, 0.15);
}

#hero .hero-container .hero-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto 24px auto;
  background-color: #FFFFFF;
  padding: 12px 28px;
  border-radius: 100px;
  border: none;
  color: #30B868;
  cursor: pointer;
}

#hero .hero-container h1 {
  opacity: 90%;
}

.hero-container h1 {
  max-width: 740px;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
  opacity: 90%;
  padding-bottom: 16px;
}

.hero-container .hero-text-white {
  color: #FFFFFF;
}

.hero-container .hero-text-green {
  color: #30B868;
}

.hero-container p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 32px;
}

.hero-container .btn2 {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  padding: 12.5px 16px;
  margin-left: 10px;
}

#features, #features-3 {
  padding: 80px 20px;
  
}

#features .features-container {
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
  width: 90%;
}

#features .features-container .features-header {
  padding-top: 40px;
  gap: 16px;
  margin: 0 auto;
}

#features .features-container .features-header h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding-bottom: 16px;
}

#features .features-container .features-header p {
  color: #627382;
  margin: 0 auto;
}

#features .features-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 60px;
}

#features .features-cards .card {
  padding: 32px 24px;
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 50px 0 #00000017;
}

#features .features-cards .card img {
  background-color: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 14px;
  margin-bottom: 24px;
  object-fit: contain;
}

#features .features-cards .card h3 {
  padding-top: 20px;
  margin-bottom: 20px;
}

#features .features-cards .card p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

#features-3 .features-3-container{
  display: flex;
  justify-content: space-around;
  max-width: 1360px;
  margin: 0 auto;
  width: 90%;
}

#features-3 .features-3-container .knowledge{
  max-width: 600px;
  /* border: 1px solid red; */
  border-radius: 8px;
}

#features-3 .features-3-container .solution{
  /* border: 1px solid red; */
  gap: 40px;
  padding-top: 102px;
}

#features-3 .features-3-container .solution .solution-header1{
  color: #30B868;
  padding-bottom: 20px;
}

#features-3 .features-3-container .solution h1{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 20px;
}

#features-3 .features-3-container .solution .para{
  color: #627382;
  padding-bottom: 40px;
}

#features-3 .features-3-container .solution .list{
  color: #001931;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}